<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="zh-CN">
<head>
    <title>Wizard community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/community.js" type="application/javascript"></script>
    <link rel="shortcut icon" href="/favicon_1.ico">
    <!--// webfont-->
    <!--    <script type="text/javascript" src="http://cdn.repository.webfont.com/wwwroot/js/wf/youziku.api.min.js"></script>-->
    <!--    <script type="text/javascript">-->
    <!--        $webfont.load("body", "bfcbbc52edb74b2fb45d68942e7b3791", "xiaowei");-->
    <!--        /*$webfont.load("#id1,.class1,h1", "bfcbbc52edb74b2fb45d68942e7b3791", "xiaowei");*/-->
    <!--        /*．．．*/-->
    <!--        $webfont.draw();-->
    <!--    </script>-->
</head>
<body class="logo">
<!--<div class="logo" th:insert="navigation::nav"></div>-->
<div class="jumbotron animate__animated animate__tada logo"
     style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;margin-top: 0">
    <div style="margin: 50px">
        <h1>Error occurred！！！</h1>
        <p th:text="${message}">服务太热了，要不然稍等再来试试~</p>
        <p><a class="btn btn-primary btn-lg" href="../" role="button">Back</a></p>
    </div>
</div>
<div th:insert="footer::foot"></div>
</body>
</html>
