<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="zh-CN">
<head>
    <title>Wizard community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <link rel="stylesheet" href="css/community.css">
</head>

<script type="application/javascript">
    window.onload = function () {

        var closable = window.localStorage.getItem("closable");
        if (closable == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }

    }
</script>
<style>
    .community-tag {
        font-size: 10px;
        border-radius: 2px;
        display: inline-block;
        line-height: 18px;
        padding: 0 4px;
        white-space: nowrap;
        background: #cbdbfb;
        color: #fff !important;
        margin: 0 8px 10px 0;
    }
</style>
<body>
<div th:insert="navigation::nav"></div>


<div class="col-lg-8 col-mg-12 col-sm-12 col-xs-12">
    <div class="container-fluid main">
        <!--<div class="container main">-->
        <div class="row">
            <div class="column">
                <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12">
                    <!--                    <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h3>-->

                    <!--导航-->
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-list"
                                                                       aria-hidden="true"></span>发现</a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <!--                                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                                    <li><a href="#">Link</a></li>
                                    <li class="dropdown">

                                        <!-- Split button -->
                                        <div class="btn-group" style="padding: 5px">
                                            <button type="button" class="btn btn-success">排序</button>
                                            <button type="button" class="btn btn-success dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>

                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a th:href="@{/(page=1,search=${search},tag=${tag},sort=${sort},zero=1)}">
                                            <button type="button" class="btn btn-danger">消灭零回复</button>
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>


                    <hr>

                    <div class="media" th:each="question:${pagination.data}">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a th:href="@{'question/'+${question.id}}" th:text="${question.title}"></a>
                            </h4>
                            <!--                    <span th:text="${question.description}"></span><br>-->
                            <span class="text-desc"><span th:text="${question.commentCount}"></span> 个回复 ● <span
                                    th:text="${question.viewCount}"></span> 次浏览 ● <span
                                    th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm ')}"></span></span>
                        </div>

                    </div>
                    <nav aria-label="Page navigation" style="margin-left: 300px">
                        <ul class="pagination">
                            <li th:if="${pagination.showFirstPage}">
                                <a th:href="@{/(page=1,search=${search},tag=${tag},sort=${sort},zero=${zero})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&lt;&lt;</span>
                                </a>
                                <!--                        <a href="/?page=1" aria-label="Previous">-->
                                <!--                            <span aria-hidden="true">&lt;&lt;</span>-->
                                <!--                        </a>-->
                            </li>
                            <li th:if="${pagination.showPrevious}">
                                <a th:href="@{/(page=${pagination.page - 1},search=${search},tag=${tag},sort=${sort},zero=${zero})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                                <!--                        <a th:href="@{/(page=${pagination.page - 1})}">-->
                                <!--                            <span aria-hidden="true">&lt;</span>-->
                                <!--                        </a>-->
                            </li>

                            <li th:each="page : ${pagination.pages}"
                                th:class="${pagination.page == page}? 'active' : ''">
                                <a th:href="@{/(page=${page},search=${search},tag=${tag},sort=${sort},zero=${zero})}"
                                   th:text="${page}"></a>
                                <!--                        <a th:href="@{/(page=${page})}" th:text="${page}"></a>-->
                            </li>

                            <li th:if="${pagination.showNext}">
                                <a th:href="@{/(page=${pagination.page + 1 },search=${search},tag=${tag},sort=${sort},zero=${zero})}"
                                   aria-label="Previous">
                                    <!--                            ,search=${search},tag=${tag},sort=${sort}-->
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li th:if="${pagination.showEndPage}">
                                <a th:href="@{/(page=${pagination.totalPage},search=${search},tag=${tag},sort=${sort},zero=${zero})}"
                                   aria-label="Previous">
                                    <!--                            ,search=${search},tag=${tag},sort=${sort}-->
                                    <span aria-hidden="true">&gt;&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-mg-12 col-sm-12 col-xs-12" style="font-size: 15px">
    <div class="container-fluid main">
        <div class="column">
            <!--            <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12" style="font-size: 15px">-->
            <h3 style="margin-top: 10px;padding: 10px"><span class="glyphicon glyphicon-fire"
                                                             aria-hidden="true"></span> 热门话题</h3>
            <ul class="fly-panel-main fly-list-static " id="tags-wrapper">
                <li class="layui-anim community-tag" th:each="tag:${HotTags}">
                    <!--                                <a href="/web/tag/java" class="tag-active ">java (70)</a>-->
                    <a
                            th:href="@{/(page=1,search=${search},tag=${tag},sort=${sort},zero=${zero})}"
                            th:text="${tag}">
                    </a> |
                    <span class="glyphicon glyphicon-fire" style="color: red" aria-hidden="true">Hot</span>
                </li>
                <!--                            <li class="layui-anim community-tag">-->
                <!--                                <a href="/web/tag/测试">测试 (72)</a>-->
                <!--                            </li>-->
            </ul>

            <hr class="col-lg-12 col-mg-12 col-sm-12 col-xs-12">
            <!--                <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12" style="font-size: 15px">-->
            <h3 style="margin-top: 10px;padding: 10px"><span class="glyphicon glyphicon-eye-open"
                                                             aria-hidden="true"></span> 站长博客</h3>
            <a href="https://kayleh.github.io"
               style="font-size: 16px;margin-left: 15px"> Kayleh.github.io</a>
        </div>
        <hr class="col-lg-12 col-mg-12 col-sm-12 col-xs-12">

        <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12" style="padding: 0;margin-bottom: 10px">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="carousel-caption" style="color: #0a001f;font-size: 20px">关注订阅号</div>
                        <img src="/images/img/wechat.png" alt="First slide" height="150px" width=" 150px">

                    </div>
                    <div class="item">
                        <img src="/images/img/wechat.png" alt="Second slide" height="150px" width=" 150px">
                        <div class="carousel-caption" style="color: #0a001f;font-size: 20px">关注订阅号</div>

                    </div>
                    <div class="item">
                        <img src="/images/img/wechat.png" alt="Third slide" height="150px" width=" 150px">
                        <div class="carousel-caption" style="color: #0a001f;font-size: 20px">关注订阅号</div>

                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" href="#myCarousel"
                   data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true"
                                            class="glyphicon glyphicon-chevron-right"></span></a>
                <a class="carousel-control right" href="#myCarousel"
                   data-slide="next">&rsaquo;</a>
            </div>
        </div>


    </div>
</div>
<!--</div>-->


<div class="col-lg-4 col-mg-12 col-sm-12 col-xs-12" style="font-size: 15px">
    <div class="container-fluid main">
        <div class="column">
            <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12" style="font-size: 15px">
                <div>
                    <div class="fly-panel">
                        <h3 style="margin-top: 10px;padding: 10px"><span class="glyphicon glyphicon-globe"
                                                                         aria-hidden="true"></span> 全部标签</h3>
                        <ul class="fly-panel-main fly-list-static " id="tags-wrapper">
                            <li class="layui-anim community-tag" th:each="tag:${alltags}">
                                <!--                                <a href="/web/tag/java" class="tag-active ">java (70)</a>-->

                                <a
                                        th:href="@{/(page=1,search=${search},tag=${tag},sort=${sort},zero=${zero})}"
                                        th:text="${tag}">
                                </a>
                                <!--                                <span class="glyphicon glyphicon-fire" style="color: red" aria-hidden="true">Hot</span>-->
                            </li>
                            <!--                            <li class="layui-anim community-tag">-->
                            <!--                                <a href="/web/tag/测试">测试 (72)</a>-->
                            <!--                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-2 col-mg-12 col-sm-12 col-xs-12" style="font-size: 15px">
    <div class="container-fluid main">
        <div class="column">
            <div class="row">
                <h3 style="margin-top: 10px;padding: 10px"><span class="glyphicon glyphicon-leaf"
                                                                 aria-hidden="true"></span> Learning</h3>
                <ul>
                    <li>
                        <a href="https://www.bilibili.com/video/BV1KW411u7vy/?spm_id_from=333.788.videocard.1">MySQl高级</a>
                    </li>
                    <li>JVM</li>
                    <li><a href="https://www.nowcoder.com/tutorial/94/d96fa15a169c44e9a94dda690f27da28">面试题</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12">
    <!--页尾-->
    <div th:insert="footer::foot"></div>
</div>
</body>
</html>
