<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <!--    弹窗-->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nifty Modal Window Effects</title>
    <meta name="description" content="Nifty Modal Window Effects with CSS Transitions and Animations"/>
    <meta name="keywords"
          content="modal, window, overlay, modern, box, css transition, css animation, effect, 3d, perspective"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/alert/default.css"/>
    <link rel="stylesheet" type="text/css" href="/css/alert/component.css"/>
    <script src="js/alert/modernizr.custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!--    时间戳-->
    <script src="https://cdn.bootcss.com/timeago.js/3.0.2/timeago.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://www.huangwx.cn/css/sweetalert.css">
    <script type="text/javascript" src="https://www.huangwx.cn/js/sweetalert-dev.js"></script>
    <link rel="stylesheet" href="/css/community.css">
    <!--// webfont-->
    <script type="text/javascript" src="http://cdn.repository.webfont.com/wwwroot/js/wf/youziku.api.min.js"></script>
    <script type="text/javascript">
        $webfont.load("body", "bfcbbc52edb74b2fb45d68942e7b3791", "xiaowei");
        /*$webfont.load("#id1,.class1,h1", "bfcbbc52edb74b2fb45d68942e7b3791", "xiaowei");*/
        /*．．．*/
        $webfont.draw();
    </script>
</head>
<!--<meta charset="UTF-8">-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--<head>-->
<!--    <link rel="stylesheet" type="text/css" href="css/base.css"/>-->
<!--    <link href="/static/css/demo.css" rel="stylesheet" media="all"/>-->
<!--    &lt;!&ndash;[if IE]>-->
<!--    <style type="text/css">-->
<!--        li.remove_frame a {-->
<!--            padding-top: 5px;-->
<!--            background-position: 0px -3px;-->
<!--        }-->
<!--    </style>-->
<!--    <![endif]&ndash;&gt;-->
<!--    <script type="text/javascript" src="/static/js/jquery.qrcode.min.js"></script>-->
<!--    <script type="text/javascript">-->
<!--        $(document).ready(function () {-->
<!--            function fixHeight() {-->
<!--                var headerHeight = $("#switcher").height();-->
<!--                $("#iframe").attr("height", $(window).height() - 54 + "px");-->
<!--            }-->

<!--            $(window).resize(function () {-->
<!--                fixHeight();-->
<!--            }).resize();-->

<!--            $('.icon-monitor').addClass('active');-->

<!--            $(".icon-mobile-3").click(function () {-->
<!--                $("#by").css("overflow-y", "auto");-->
<!--                $('#iframe-wrap').removeClass().addClass('mobile-width-3');-->
<!--                $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');-->
<!--                $(this).addClass('active');-->
<!--                return false;-->
<!--            });-->

<!--            $(".icon-mobile-2").click(function () {-->
<!--                $("#by").css("overflow-y", "auto");-->
<!--                $('#iframe-wrap').removeClass().addClass('mobile-width-2');-->
<!--                $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');-->
<!--                $(this).addClass('active');-->
<!--                return false;-->
<!--            });-->

<!--            $(".icon-mobile-1").click(function () {-->
<!--                $("#by").css("overflow-y", "auto");-->
<!--                $('#iframe-wrap').removeClass().addClass('mobile-width');-->
<!--                $('.icon-tablet,.icon-mobile,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');-->
<!--                $(this).addClass('active');-->
<!--                return false;-->
<!--            });-->

<!--            $(".icon-tablet").click(function () {-->
<!--                $("#by").css("overflow-y", "auto");-->
<!--                $('#iframe-wrap').removeClass().addClass('tablet-width');-->
<!--                $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');-->
<!--                $(this).addClass('active');-->
<!--                return false;-->
<!--            });-->

<!--            $(".icon-monitor").click(function () {-->
<!--                $("#by").css("overflow-y", "hidden");-->
<!--                $('#iframe-wrap').removeClass().addClass('full-width');-->
<!--                $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');-->
<!--                $(this).addClass('active');-->
<!--                return false;-->
<!--            });-->
<!--        });-->
<!--    </script>-->
<!--    <script>-->
<!--        document.documentElement.className = "js";-->
<!--        var supportsCssVars = function () {-->
<!--            var e, t = document.createElement("style");-->
<!--            return t.innerHTML = "root: { &#45;&#45;tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(&#45;&#45;tmp-var)")), t.parentNode.removeChild(t), e-->
<!--        };-->
<!--        supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");-->
<!--    </script>-->
<!--    <script type="text/javascript">-->
<!--        function Responsive($a) {-->
<!--            if ($a == true) $("#Device").css("opacity", "100");-->
<!--            if ($a == false) $("#Device").css("opacity", "0");-->
<!--            $('#iframe-wrap').removeClass().addClass('full-width');-->
<!--            $('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');-->
<!--            $(this).addClass('active');-->
<!--            return false;-->
<!--        };-->
<!--    </script>-->

<!--    <script type="text/javascript" src="/static/js/protect.js"></script>-->

<!--</head>-->

<!--<body class="loading">-->

<!--<div th:fragment="nav">-->

<!--        <div id="iframe-wrap">-->
<!--            <iframe id="iframe" src="https://www.17sucai.com/preview/1474877/2018-12-07/p/index.html" frameborder="0"-->
<!--                    width="100%">-->
<!--                -->
<!--            </iframe>-->
<!--        </div>-->


<!--    <main>-->

<!--        <div class="content">-->
<!--            <div class="block" data-fx="1">-->
<!--                <a class="block__title" data-img="images/img/twitter.png">Effect 1</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">chloride</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">magnesium</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">zinc</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">iodine</a>-->
<!--            </div>-->
<!--            <div class="block" data-fx="2">-->
<!--                <a class="block__title" data-img="images/img/twitter.png">Effect 2</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">mimas</a>-->
<!--                <a class="block__link" data-img="img/8.jpg">phobos</a>-->
<!--                <a class="block__link" data-img="img/9.jpg">lapetus</a>-->
<!--                <a class="block__link" data-img="img/10.jpg">titania</a>-->
<!--            </div>-->
<!--            <div class="block" data-fx="3">-->
<!--                <a class="block__title" data-img="img/11.jpg">Effect 3</a>-->
<!--                <a class="block__link" data-img="img/12.jpg">Capitate</a>-->
<!--                <a class="block__link" data-img="img/13.jpg">Triquetral</a>-->
<!--                <a class="block__link" data-img="img/14.jpg">scaphoid</a>-->
<!--                <a class="block__link" data-img="img/15.jpg">Hamate</a>-->
<!--            </div>-->
<!--            <div class="block" data-fx="4">-->
<!--                <a class="block__title" data-img="img/16.jpg">Effect 4</a>-->
<!--                <a class="block__link" data-img="img/17.jpg">stratus</a>-->
<!--                <a class="block__link" data-img="img/18.jpg">cirrus</a>-->
<!--                <a class="block__link" data-img="img/19.jpg">nimbus</a>-->
<!--                <a class="block__link" data-img="img/20.jpg">cumulus</a>-->
<!--            </div>-->
<!--            <div class="block" data-fx="5">-->
<!--                <a class="block__title" data-img="images/img/twitter.png">Effect 5</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">king's quest</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">asteroids</a>-->
<!--                <a class="block__link" data-img="img/8.jpg">centipede</a>-->
<!--                <a class="block__link" data-img="img/10.jpg">defender</a>-->
<!--            </div>-->
<!--            <div class="block" data-fx="6">-->
<!--                <a class="block__title" data-img="img/9.jpg">Effect 6</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">Jerry</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">Michael</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">Jason</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">Julia</a>-->
<!--            </div>-->
<!--            <div class="block" data-fx="7">-->
<!--                <a class="block__title" data-img="img/10.jpg">Effect 7</a>-->
<!--                <a class="block__link" data-img="img/8.jpg">Mistral</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">Sirocco</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">Khamseen</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">Brickfielder</a>-->
<!--            </div>-->
<!--            <div class="block" data-fx="8">-->
<!--                <a class="block__title" data-img="img/20.jpg">Effect 8</a>-->
<!--                <a class="block__link" data-img="img/19.jpg">Quechan</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">Chemehuevi</a>-->
<!--                <a class="block__link" data-img="img/14.jpg">Meskwaki</a>-->
<!--                <a class="block__link" data-img="img/12.jpg">Ponca</a>-->
<!--            </div>-->
<!--            <div class="block" data-fx="9">-->
<!--                <a class="block__title" data-img="images/img/twitter.png">Effect 9</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">Dugbe</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">Lordsdale</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">Sindbis</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png">Cowpox</a>-->
<!--            </div>-->
<!--            <div class="block" data-fx="10">-->
<!--                <a class="block__title" data-img="images/img/twitter.png,images/img/twitter.png,images/img/twitter.png">Effect-->
<!--                    10</a>-->
<!--                <a class="block__link" data-img="images/img/twitter.png,images/img/twitter.png,img/11.jpg">Khufu</a>-->
<!--                <a class="block__link" data-img="img/12.jpg,img/13.jpg,img/14.jpg">Hatshepsut</a>-->
<!--                <a class="block__link" data-img="img/17.jpg,img/16.jpg,img/15.jpg">Tutankhamun</a>-->
<!--                <a class="block__link" data-img="img/19.jpg,img/20.jpg,images/img/twitter.png">Djoser</a>-->
<!--            </div>-->
<!--            <div class="content__text">-->
<!--                All you have to learn here is how to have fun. It's almost like something out of a <a-->
<!--                    class="content__text-link" data-img="img/20.jpg" data-fx="1">fairytale</a> book. Almost everything-->
<!--                is going to happen for you automatically - you don't have to spend any time <a-->
<!--                    class="content__text-link" data-img="img/19.jpg" data-fx="2">working</a> or worrying. Take your-->
<!--                time. Speed will come later. A thin paint will stick to a thick paint. There comes a nice little <a-->
<!--                    class="content__text-link" data-img="img/18.jpg" data-fx="3">fluffer</a>.-->

<!--                You can create the world you want to see and be a part of. You have that <a class="content__text-link"-->
<!--                                                                                            data-img="img/17.jpg"-->
<!--                                                                                            data-fx="4">power</a>. Don't-->
<!--                forget to tell these special people in your life just how special they are to you. Let's build an-->
<!--                almighty <a class="content__text-link" data-img="img/16.jpg" data-fx="5">mountain</a>. Isn't that-->
<!--                fantastic that you can create an almighty tree that fast? The only <a class="content__text-link"-->
<!--                                                                                      data-img="img/15.jpg" data-fx="6">prerequisite</a>-->
<!--                is that it makes you happy. If it makes you happy then it's good.-->

<!--                This is your <a class="content__text-link" data-img="img/14.jpg" data-fx="7">creation</a> - and it's-->
<!--                just as unique and <a class="content__text-link" data-img="img/13.jpg" data-fx="8">special</a> as you-->
<!--                are. Decide where your cloud lives. Maybe he lives right in here. You have to make those little <a-->
<!--                    class="content__text-link" data-img="img/12.jpg" data-fx="9">noises</a> or it won't work. Just go-->
<!--                out and talk to a tree. Make <a class="content__text-link" data-img="img/10.jpg,img/14.jpg,img/15.jpg"-->
<!--                                                data-fx="10">friends</a> with it. This is truly an almighty mountain.-->
<!--            </div>-->
<!--        </div>-->

<!--    </main>-->

<!--    <script src="js/charming.min.js"></script>-->
<!--    <script src="js/imagesloaded.pkgd.min.js"></script>-->
<!--    <script src="js/TweenMax.min.js"></script>-->
<!--    <script src="js/demo.js"></script>-->
<body>

<nav class="navbar navbar-default animate__animated animate__jello">

    <!--// webfont-->
    <script type="text/javascript" src="http://cdn.repository.webfont.com/wwwroot/js/wf/youziku.api.min.js"></script>
    <script type="text/javascript">
        $webfont.load("body", "bfcbbc52edb74b2fb45d68942e7b3791", "xiaowei");
        /*$webfont.load("#id1,.class1,h1", "bfcbbc52edb74b2fb45d68942e7b3791", "xiaowei");*/
        /*．．．*/
        $webfont.draw();
    </script>


    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span th:if="${session.user != null}">
                    more
                    </span>
                <span th:unless="${session.user != null}">
                        登录
                    </span>

                <span class="sr-only"><span class="glyphicon glyphicon-search"
                                            aria-hidden="true"></span> Wizard社区</span>
                <!--                <span class="icon-bar"></span>-->
                <!--                <span class="icon-bar"></span>-->
                <!--                <span class="icon-bar"></span>-->
            </button>


            <div class="navbar-header">
                <a th:title="Wizard" class="navbar-brand" style="padding-top: 10px;" href="/">
                    <img style="display: inline" alt="Brand" src="/images/img/1.png" width="100px" height="30px">
                    <div style="display: inline">社区</div>
                </a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left" action="/" method="get">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group">
                    <input type="text" class="form-control" name="search" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>


            <div class="navbar-header">
                <a th:title="个人主页" class="navbar-brand" style="padding-top: 10px;" href="https://kayleh.github.io">
                    <img alt="Brand" src="/images/img/favicon.ico" width="30px" height="30px">
                </a>
            </div>
            <div class="navbar-header">
                <a title="facebook" class="navbar-brand" style="padding-top: 10px;"
                   href="https://www.facebook.com/kayleh.yao.7">
                    <img alt="Brand" src="/images/img/facebook.png" width="30px" height="30px">
                </a>
            </div>
            <div class="navbar-header">
                <a th:title="Twitter" class="navbar-brand" style="padding-top: 10px;"
                   href="https://twitter.com/y40jinqing">
                    <img alt="Brand" src="/images/img/twitter.png" width="30px" height="30px">
                </a>
            </div>
            <div class="navbar-header">
                <a th:title="GitHub" class="navbar-brand" style="padding-top: 10px;"
                   href="https://github.com/Kayleh">
                    <img alt="Brand" src="/images/img/github.png" width="30px" height="30px">
                </a>
            </div>
            <div class="navbar-header">
                    <span class="md-trigger" data-modal="modal-11">
                        <a th:title="Wechat" class="navbar-brand" style="padding-top: 10px;"
                           href="#">
                            <img alt="Brand" src="/images/img/wechat2.png" width="30px" height="30px">
                        </a>
                    </span>
            </div>
            <div class="navbar-header">
                    <span class="md-trigger" data-modal="modal-10">
                        <a th:title="公众号" class="navbar-brand" style="padding-top: 10px;"
                           href="#">
                            <img alt="Brand" src="/images/img/wechat_account.png" width="50px" height="30px">
                        </a>
                    </span>
            </div>


            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user != null}">
                    <a href="/publish">发起</a>
                </li>

                <li th:if="${session.user != null}">
                    <a href="/profile/questions">个人资料</a>
                </li>

                <!--                    <li><a href="/profile/replies">通知 <span class="badge" th:text="${unreadCount}"></span></a></li>-->
                <li th:if="${session.user != null}">
                    <a href="/profile/replies">通知 <span class="badge" th:text="${session.unreadCount}"></span></a>
                </li>

                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        [[${session.user.getName()}]]
                        <!-- <span th:text="${session.user.getName()}"> </span>-->
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile/questions">个人资料</a></li>
                        <!--                        <li><a href="#">个人资料</a></li>-->
                        <li><a href="/logout">LogOut</a></li>
                    </ul>
                </li>

                <!--                <li th:if="${session.user == null}">-->
                <li th:unless="${session.user!=null}">
                    <!--                        <a href="https://github.com/login/oauth/authorize?client_id=19ebcb4f921719bd4518&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录Login</a>-->
                    <!--                        <a th:href="@{https://github.com/login/oauth/authorize(client_id='19ebcb4f921719bd4518',redirect_uri=${#httpServletRequest.getServletContext().getAttribute('redirectUri')},scope='user',state=1)}">登录</a>-->

                    <!--                    <a th:href="@{https://github.com/login/oauth/authorize(client_id='19ebcb4f921719bd4518',redirect_uri=${#httpServletRequest.getRequestURL()+'callback'},scope='user',state=1)}">登录</a>-->
                    <a href="#">
                        <span class="md-trigger md-setperspective" data-modal="modal-9">
                            登录
                        </span>
                    </a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


</body>

