<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="zh-CN">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!--    <script src="../js/community.js" type="application/javascript"></script>-->
    <link rel="stylesheet" href="../css/community.css">
    <!--    在同级目录找资源，这里是profile/questions/所以找不到-->
    <!--    弹窗-->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nifty Modal Window Effects with CSS Transitions and Animations"/>
    <meta name="keywords"
          content="modal, window, overlay, modern, box, css transition, css animation, effect, 3d, perspective"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/alert/default.css"/>
    <link rel="stylesheet" type="text/css" href="/css/alert/component.css"/>
    <script src="js/alert/modernizr.custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
</head>
<!--<script type="application/javascript">-->
<!--    //<!CDATA[-->
<!--    var bodyBgs = [];    //创建一个数组变量来存储背景图片的路径-->
<!--    bodyBgs[0] = "../images/01_bg.jpg";-->
<!--    bodyBgs[1] = "../images/02_bg.jpg";-->
<!--    bodyBgs[2] = "../images/03_bg.jpg";-->
<!--    bodyBgs[3] = "../images/04_bg.jpg";-->

<!--    var randomBgIndex = Math.round(Math.random() * 4);-->

<!--    //输出随机的背景图-->
<!--    document.write('<style>body{background:url(' + bodyBgs[randomBgIndex] + ') no-repeat 50% 0}</style>');-->
<!--    //]]>-->
<!--</script>-->
<body>
<div th:insert="navigation::nav"></div>
<div th:insert="alert::nav"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12">
            <div>

                <div align="center">
                    <a href="#">
                        <img class="media-object img-circle" style="width: 150px;height: 150px;padding: 15px"
                             th:src="${session.user!=null?session.user.avatarUrl:'/images/img/default_avatar.png'}">
                    </a>
                    <span style="font-size: 20px" th:text="${session.user!=null?session.user.name:'匿名用户'}"></span>
                    <p></p>
                    <p>已加入社区
                        <span
                                th:text="${#dates.format(userCreateTime,'dd')}">
                        </span>天
                    </p>
                </div>
            </div>

            <!-- 导航条-->
            <ul class="nav nav-tabs">
                <li role="presentation" class=""><a href="/profile/questions"
                                                    th:class="${section == 'questions'}?'active':''">我的提问</a></li>
                <li role="presentation" class=""><a href="/profile/replies"
                                                    th:classappend="${section == 'replies'}?'active':''">最新回复 <!--未读数-->
                    <span class="badge" th:text="${session.unreadCount}"></span></a>

                </li>

            </ul>

            <h2><span th:text="${sectionName}"></span></h2>
            <!--            <hr>-->
            <p></p>
            <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12" th:if="${section == 'questions'}">

                <div class="media" th:each="question:${pagination.data}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                        </h4>
                        <span class="text-desc">
                            <span th:text="${question.commentCount}"></span>
                            个回复 ●
                            <span
                                    th:text="${question.viewCount}">

                            </span>
                            次浏览 ●
                            <span
                                    th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm ')}">

                            </span>●
                         <a th:href="@{'/publish/'+${question.id}}" class="community-menu">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"
                                  th:if="${session.user!=null&&session.user.id==question.creator}">编辑
                            </span>
                        </a>
                    </span>
                    </div>
                </div>
            </div>
            <!--                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->

            <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12" th:if="${section == 'replies'}">
                <!--  回复通知内容-->
                <div class="media" th:each="notification:${pagination.data}">

                    <div class="media-body">
                        <p class="media-heading">
                            <span th:text="${notification.notifierName+' '+notification.typeName+' '}"></span>
                            <a th:href="@{'/notification/'+${notification.id}}"
                               th:text="${notification.outerTitle}">
                            </a>
                            <span class="label label-danger" th:if="${notification.status == 0}">未读</span>
                        </p>

                    </div>

                </div>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstPage}">
                            <a th:href="@{'/profile/'+${section}(page=${1})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious}">
                            <a th:href="@{'/profile/'+${section}(page=${pagination.page - 1})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <li th:each="page : ${pagination.pages}"
                            th:class="${pagination.page == page}? 'active' : ''">
                            <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a>
                        </li>

                        <li th:if="${pagination.showNext}">
                            <a th:href="@{'/profile/'+${section}(page=${pagination.page +1})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showEndPage}">
                            <a th:href="@{'/profile/'+${section}(page=${pagination.totalPage})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>


        <!--        <div class="col-lg-3 col-mg-12 col-sm-12 col-xs-12">-->
        <!--            <div class="list-group section">-->
        <!--                <a href="/profile/questions"-->
        <!--                   th:class="${section == 'questions'}?'active list-group-item':'list-group-item'">我的问题</a>-->
        <!--                <a href="/profile/replies" class="list-group-item"-->
        <!--                   th:classappend="${section == 'replies'}?'active':''">-->
        <!--                    最新回复-->
        <!--                    &lt;!&ndash;未读数&ndash;&gt;-->
        <!--                    <span class="badge" th:text="${session.unreadCount}"></span>-->
        <!--                </a>-->

        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>
<!--</div>-->
<div th:insert="footer::foot"></div>
</body>
</html>

